- name: Install and Build GeoIP
        run:
          go install github.com/v2fly/geoip@latest
          
          # Создаем файл конфигурации config.json прямо в процессе сборки
          cat <<EOF > config.json
          {
            "input": [
              {
                "type": "v2ray-geo-ip",
                "action": "add",
                "args": {
                  "uri": "./data"
                }
              }
            ],
            "output": [
              {
                "type": "v2ray-geo-ip",
                "action": "serialize",
                "args": {
                  "uri": "geoip.dat"
                }
              }
            ]
          }
          EOF
          
          # Запускаем сборку (теперь без лишних флагов, он сам подхватит config.json)
          $(go env GOPATH)/bin/geoip
