name: Build GeoIP
on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Build GeoIP
        run: |
          go install github.com/v2fly/v2ray-core/v5/main@latest
          
          # Очистка файлов: удаляем пустые строки и лишние пробелы в папке data
          find ./data -type f -exec sed -i '/^[[:space:]]*$/d; s/[[:space:]]//g' {} +
          
          # Запуск конвертации
          $(go env GOPATH)/bin/main convert proto --type=geoip --input=./data --output=geoip.dat

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: geoip-file
          path: geoip.dat
