- name: Install and Build GeoIP
        run: |
          # 1. Устанавливаем именно генератор GeoIP
          go install github.com/v2fly/geoip@latest
          
          # 2. Запускаем именно его
          $(go env GOPATH)/bin/geoip --datapath=./data --outputdir=./ --outputname=geoip.dat
