- name: Build GeoIP
        run: |
          go install github.com/v2fly/geoip@latest
          
          mkdir -p ./input
          cp ./data/* ./input/

          # Исправленный конфиг: используем inputDir вместо uri внутри args
          cat <<EOF > config.json
          {
            "input": [
              {
                "type": "text",
                "action": "add",
                "args": {
                  "inputDir": "./input"
                }
              }
            ],
            "output": [
              {
                "type": "v2ray-geoip",
                "action": "serialize",
                "args": {
                  "uri": "geoip.dat"
                }
              }
            ]
          }
          EOF

          $(go env GOPATH)/bin/geoip -c config.json
