- name: Build
        run: |
          go install github.com/v2fly/geoip@latest
          cat <<EOF > config.json
          {
            "input": [
              {
                "type": "geoip",
                "action": "add",
                "args": {
                  "uri": "./data"
                }
              }
            ],
            "output": [
              {
                "type": "geoip",
                "action": "serialize",
                "args": {
                  "uri": "geoip.dat"
                }
              }
            ]
          }
          EOF
          $(go env GOPATH)/bin/geoip -c config.json
