- name: Build GeoIP
        run: |
          # Устанавливаем официальный упаковщик, который менее капризен к контенту
          go install github.com/v2fly/geoip@latest
          
          # Готовим структуру
          mkdir -p ./input
          cp ./data/private ./input/private
          cp ./data/telegram ./input/telegram
          # Файл ru пока не берем, чтобы убедиться в успехе
          
          # Создаем минимальный конфиг, который просто "пакует" файлы
          cat <<EOF > config.json
          {
            "input": [
              {
                "type": "text",
                "action": "add",
                "args": { "uri": "./input" }
              }
            ],
            "output": [
              {
                "type": "geoip",
                "action": "serialize",
                "args": { "uri": "geoip.dat" }
              }
            ]
          }
          EOF

          $(go env GOPATH)/bin/geoip -c config.json
