name: Build GeoIP
on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Build GeoIP
        run: |
          # Устанавливаем специализированный генератор
          go install github.com/v2fly/geoip@latest
          
          # Очищаем данные от мусора (на всякий случай)
          mkdir -p ./cleaned_data
          for file in ./data/*; do
            filename=$(basename "$file")
            grep -oE '[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}(/[0-9]{1,2})?' "$file" > "./cleaned_data/$filename" || true
          done

          # Генерируем конфиг для этого конкретного инструмента
          # Он использует формат: имя_файла:путь
          echo '{
            "input": [
              {
                "type": "v2ray-geoip",
                "action": "add",
                "args": {
                  "uri": "./cleaned_data"
                }
              }
            ],
            "output": [
              {
                "type": "v2ray-geoip",
                "action": "serialize",
                "args": {
                  "uri": "geoip.dat"
                }
              }
            ]
          }' > config.json

          $(go env GOPATH)/bin/geoip -c config.json

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: geoip-file
          path: geoip.dat
