name: Build GeoIP
on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Build GeoIP
        run: |
          # Устанавливаем основной инструмент v2ray
          go install github.com/v2fly/v2ray-core/v5/main@latest
          
          # Запускаем конвертацию: 
          # --type=geoip (что делаем)
          # --input=./data (откуда берем файлы private, ru, telegram)
          # --output=geoip.dat (как называем результат)
          $(go env GOPATH)/bin/main convert proto --type=geoip --input=./data --output=geoip.dat

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: geoip-file
          path: geoip.dat
