# 3. Создание конфига с актуальными именами типов
      - name: Create Config
        run: |
          cat <<EOF > config.json
          {
            "input": [
              {
                "type": "text",
                "action": "add",
                "args": {
                  "uri": "./input"
                }
              }
            ],
            "output": [
              {
                "type": "geoip",
                "action": "serialize",
                "args": {
                  "uri": "geoip.dat"
                }
              }
            ]
          }
          EOF

      # 4. Запуск с принудительной очисткой памяти
      - name: Run Build
        run: |
          GOGC=50 ./geoip_src/geoip_bin -c config.json
