name: Build GeoIP
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
    paths:
      - 'ip-data/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: false

      - name: Install and Build GeoIP
        run: |
          go install github.com/v2fly/geoip@latest
          # Генератор ищет файлы в указанной директории и собирает их в dat файл
          $(go env GOPATH)/bin/geoip --datapath=./ip-data --outputdir=./ --outputname=geoip.dat

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: geoip-file
          path: geoip.dat
