name: Build GeoIP
on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - run: |
          go install github.com/v2fly/geoip@latest
          $(go env GOPATH)/bin/geoip --datapath=./data --outputdir=./ --outputname=geoip.dat
      - uses: actions/upload-artifact@v4
        with:
          name: geoip-file
          path: geoip.dat
